
@{
    ViewBag.Title = "SelfDeleteWarning";
}

<h2>Self Delete Warning</h2>
<p>
    You can not delete yourself!<br/>
    <br/>
    @Html.ActionLink("Click here to go back to the user management page", "Index")
</p>

