<ul class="navbar-nav nav">
    <li>
        @Html.ActionLink("Users", "Index", "Users",null,htmlAttributes: new { title = "users" })
    </li>
    <li>
        @Html.ActionLink("Courses", "Index", "Courses",null,htmlAttributes: new { title = "courses" })
    </li>
    <li>
        @Html.ActionLink("Assignment Templates", "Index", "Assignments", null, htmlAttributes: new { title = "assignments" })
    </li>
</ul>

