<ul class="navbar-nav nav">
    <li>
        @Html.ActionLink("Users", "Users", "Admin", htmlAttributes: new { title = "enroll" })
    </li>
    <li>
        @Html.ActionLink("Courses", "Index", "Courses",null,htmlAttributes: new { title = "courses" })
    </li>
    <li>
        @Html.ActionLink("Assignment Templates", "Index", "Assignments", null, htmlAttributes: new { title = "courses" })
    </li>
</ul>

