@model IEnumerable<int>

@{
    if (Model.Any())
    {
        var first = Model.First();
        <li role="presentation" class="active">
            <a href="#@first" aria-controls="@first"
               role="tab" data-toggle="tab">Assignment @first</a>
        </li>
}
    foreach (var assignment in Model.Skip(1))
    {
        <li role="presentation">
            <a href="#@assignment" aria-controls="@assignment"
               role="tab" data-toggle="tab">Assignment @assignment</a>
        </li>
    }
}