@model UCOHomeworkTool.Models.Course

@{
    ViewBag.Title = "Course";
}
@section Sidebar
{
    @{Html.RenderPartial("_AssignmentSidebar", Model.Templates.OrderBy(t => t.AssignmentNumber));}
}
@section ContextLinks
{
    @{Html.RenderPartial("_ContextLinks");}
}
@section Toggle
{
 <a href="#menu-toggle" class="btn btn-primary btn-xs" id="menu-toggle"><i class="glyphicon glyphicon-chevron-left"></i></a> 
    <br/>
    <br/>
}
