@model UCOHomeworkTool.Models.Course

@{
    ViewBag.Title = "Course";
}
@section Sidebar
{
    @{Html.RenderPartial("_Sidebar", Model.Templates);}
}
@section ContextLinks
{
    <ul class="navbar-nav nav">
        <li>
            @Html.ActionLink("Enroll", "Enrollment", "Teacher", new {id = Model.Id },htmlAttributes: new { title = "enroll" })
        </li>
    </ul>
}

