@model IEnumerable<UCOHomeworkTool.Models.Course>
@using UCOHomeworkTool.HtmlHelpers
@{
    ViewBag.Title = "Home Page";
}
@section ContextLinks{
    <ul class="navbar-nav nav">
        <li>
            @Html.ActionLink("Admin", "Index", "Users", null, htmlAttributes: new { title = "admin" }).If(User.IsInRole("Admin"))
        </li>
    </ul>
}
<div class="col-sm-12 col-md-6">
    <h3 class="page-header">Your Courses</h3>
    <div class="list-group">
        @foreach (var course in Model)
        {
            <a class="list-group-item btn" href="@Url.Action("Grades","Teacher",new{id = @course.Id})">@course.Name</a>
        }
    </div>
</div>
