@model PagedList.IPagedList<UCOHomeworkTool.Models.Course>

@{
    ViewBag.Title = "Index";
}
@section ContextLinks
{
    @{Html.RenderPartial("~/Views/Admin/_ContextLinks.cshtml");}
}
<h3 class="page-header">Courses</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="courseTable">
    @Html.Partial("_CourseTable", Model)
</div>
