@model IEnumerable<UCOHomeworkTool.Models.Assignment>

@foreach(var item in Model)
{
    <li><a href="@Url.Action("Assignment", "Home", new { id = @item.Id })">Assignment @item.AssignmentNumber</a></li>
    <li><a href="/Home/Assignment/@item.Id">Assignment @item.AssignmentNumber</a></li>
}
<script>
    $(document).ready(function () {
        $("ul.nav-sidebar a").click(function (e) {
            e.preventDefaul(); // prevent default link button redirect behaviour
            var url = $(this).attr("href");
            $('#pageContent').load(url);
        });
    });
</script>