@model IEnumerable<UCOHomeworkTool.Models.Assignment>

@{
    ViewBag.Title = "Course";
}
@section Sidebar
{
    @{Html.RenderPartial("_Sidebar", Model.OrderBy(a => a.AssignmentNumber));}
}
@section ContextLinks
{
    <ul class="navbar-nav nav">
        <li>
            @Html.ActionLink("Grades", "Grades", "Home", new { id = @ViewBag.CourseId }, htmlAttributes: new { title = "grades" })
        </li>
    </ul>
}
@section Toggle
{
    <a href="#menu-toggle" class="btn btn-primary btn-xs" id="menu-toggle"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <br />
    <br />
}
