@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div id="pageContent">

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".panel-heading").click(function(event) {
            $(event.target).find('a').trigger('click');
        });
    });
    function showAlert() {
        $("#myAlert").toggleClass("in");
        $("#myAlert2").toggleClass("in");
    }
</script>