@model IEnumerable<UCOHomeworkTool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<h1>Your Courses:</h1>
<ul>
    @foreach(var course in Model)
    {
        <li><a href="@Url.Action("Course","Home",new{id = @course.Id})">@course.Name</a></li>
    }
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $(".panel-heading").click(function (event) {
            $(event.target).find('a').trigger('click');
        });
    });
    function showAlert() {
        $("#myAlert").toggleClass("in");
        $("#myAlert2").toggleClass("in");
    }
</script>